<style id="applicationStylesheet" type="text/css">

    .mediaViewInfo {
        --web-view-name: Fetch-care_updated;
        --web-view-id: Fetch-care_updated;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }

    :root {
        --web-view-ids: Fetch-care_updated;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
    }

    body{
        background-color: #F9F9F9;
    }

    .top_content {
        position: absolute;
        overflow: visible;
        width: 100%;
        height: 100%;
        background: url(assets/bg_top.png);
        background-size: cover;
        background-position: center;
    }

    #logo {
        position: absolute;
        left: 5.7%;
        max-width: 244px;
        max-height: 228px;
    }

    #dog_top{
        position: relative;
        float: right;
        top: 18%;
        right: 6.875%;
        max-height: 100%;
        max-width: 100%;
    }

    .title{
        position: absolute;
        width: auto;
        max-width: 40%;
        height: auto;
        top: 35%;
        left: 7%;
    }

    span#title{
        position: relative;
        font-family: Museo Sans Rounded 700;
        font-style: normal;
        font-weight: normal;
        font-size: 84px;
        color: white;
    }

    span#subtitle {
        position: relative;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        color: white;
    }

    .main_bt {
        text-decoration: none;
        position: relative;
        top: 60px;
        left: 0px;
        float: left;
        padding: 10px 45px 10px;
        border-radius: 50px;
        background-color: rgba(255,220,37,1);
        box-shadow: 4px 4px #707070;
        transition-duration: 0.2s;
    }

    .main_bt:hover{
        top: 62px;
        left: 2px;
        cursor: pointer;
        box-shadow: none;
    }

    .main_bt text{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        color: rgba(27,161,153,1);
    }

    #bg_top{
        position: absolute;
        overflow: visible;
        top: -497px;
        left: -338px;
    }

    .layanan{
        position: relative;
        top: 1000px;
    }

    #desc{
        text-align: center;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: bold;
        font-size: 43px;
        color: rgba(23,181,175,1);
    }

    #subdesc{
        text-align: center;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: rgba(128,128,128,1);
    }

    .menu_layanan{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .menu_layanan > a{
        position: relative;
        top: 0px;
        left: 0px;
        width: 250px;
        height: 250px;
        margin: 20px 40px auto;
        padding: 50px 20px 0px;
        text-align: center;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: rgba(112,112,112,1);
        background-color: #ffffff;
        border-radius: 30px;
        transition-duration: 0.2s;
        box-shadow: 2px 2px #707070;
    }

    .menu_layanan > a:hover{
        box-shadow: none;
        top: 2px;
        left: 2px;
        cursor: pointer;
    }

    .artikel{
        position:relative;
        top:1200px;
    }

    .menu_artikel{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #artikel_pict{
        width: 100%;
        height: 45%;
    }

    .menu_artikel > a{
        text-align: left;
        position: relative;
        flex: 10 1 1;
        width: 395px;
        height: 350px;
        margin: 20px 20px auto;
        padding: 0px 0px 0px;
        background-color: #707070;
        border-radius: 30px;
    }


    .menu_artikel > a > h2{
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: rgba(255,229,48,1);
    }
</style>
