<style id="applicationStylesheet" type="text/css" >
.mediaViewInfo {
    --web-view-name: Fetch-care_updated;
    --web-view-id: Fetch-care_updated;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Fetch-care_updated;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#Fetch-care_updated {
    position: absolute;
    width: 1920px;
    height: 4885.5px;
    background-color: rgba(243,246,251,1);
    overflow: hidden;
    --web-view-name: Fetch-care_updated;
    --web-view-id: Fetch-care_updated;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#background {
    position: absolute;
    width: 3306px;
    height: 5714.5px;
    left: -693px;
    top: -497px;
    overflow: visible;
}

#footer-bg_color {
    fill: rgba(23,181,175,1);
}

.footer-bg_color {
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 4832.5px;
}

#footer_bg {
    opacity: 0.3;
    position: absolute;
    width: 3306px;
    height: 801px;
    left: 0px;
    top: 4913.5px;
    overflow: hidden;
}

#footer_bg_0 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Ellipse_32 {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32 {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#footer_bg_1 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 95px;
    overflow: visible;
}

#Ellipse_32_m {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32_m {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#footer_bg_2 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 190px;
    overflow: visible;
}

#Ellipse_32_o {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32_o {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#footer_bg_3 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 285px;
    overflow: visible;
}

#Ellipse_32_q {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32_q {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#footer_bg_4 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 380px;
    overflow: visible;
}

#Ellipse_32_s {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32_s {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#footer_bg_5 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 475px;
    overflow: visible;
}

#Ellipse_32_u {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32_u {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#footer_bg_6 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 570px;
    overflow: visible;
}

#Ellipse_32_w {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32_w {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#footer_bg_7 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 665px;
    overflow: visible;
}

#Ellipse_32_y {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32_y {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#footer_bg_8 {
    position: absolute;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 760px;
    overflow: visible;
}

#Ellipse_32_ {
    opacity: 0.15;
    fill: rgba(255,103,82,1);
}

.Ellipse_32_ {
    mix-blend-mode: multiply;
    position: absolute;
    overflow: visible;
    width: 3306px;
    height: 882px;
    left: 0px;
    top: 0px;
}

#bg_top {
    position: absolute;
    width: 2669px;
    height: 1467px;
    left: 355px;
    top: 0px;
    overflow: visible;
}

#bg_main {
    position: absolute;
    width: 3123px;
    height: 1661px;
    left: 92px;
    top: 1352px;
    overflow: visible;
}

#bg_circle {
    position: absolute;
    width: 495px;
    height: 495px;
    left: 404px;
    top: 3365px;
    overflow: visible;
}

#testimoni {
    position: absolute;
    width: 1593px;
    height: 624px;
    left: 164px;
    top: 3260px;
    overflow: visible;
}

#button {
    position: absolute;
    width: 1593px;
    height: 64px;
    left: 0px;
    top: 399px;
    overflow: visible;
}

#next {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 1529px;
    top: 0px;
    overflow: visible;
}

#Ellipse_10 {
    fill: rgba(23,181,175,1);
}

.Ellipse_10 {
    filter: drop-shadow(0px 3px 6px rgba(253, 104, 69, 0.302));
    position: absolute;
    overflow: visible;
    width: 82px;
    height: 82px;
    left: 0px;
    top: 0px;
}

#Group_46 {
    position: absolute;
    width: 29.133px;
    height: 13.143px;
    left: 17px;
    top: 25px;
    overflow: visible;
}

#Path_201 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_201 {
    overflow: visible;
    position: absolute;
    width: 31.134px;
    height: 2px;
    left: 0px;
    top: 6.371px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_202 {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_202 {
    overflow: visible;
    position: absolute;
    width: 8.986px;
    height: 15.972px;
    left: 22.563px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#prev {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_201_be {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_201_be {
    overflow: visible;
    position: absolute;
    width: 31.133px;
    height: 2px;
    left: 0.001px;
    top: 6.371px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_202_bf {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_202_bf {
    overflow: visible;
    position: absolute;
    width: 8.985px;
    height: 15.972px;
    left: 0.001px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#testimoni_kiri {
    position: absolute;
    width: 552px;
    height: 326px;
    left: 124px;
    top: 268px;
    overflow: visible;
}

#bg {
    position: absolute;
    width: 552px;
    height: 326px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_22 {
    filter: blur(15px);
    fill: rgba(168,158,255,1);
}

.Rectangle_22 {
    filter: drop-shadow(0px 20px 20px rgba(50, 32, 206, 0.161));
    position: absolute;
    overflow: visible;
    width: 679px;
    height: 462px;
    left: 12px;
    top: 7px;
}

#Rectangle_15 {
    fill: rgba(205,231,249,1);
}

.Rectangle_15 {
    filter: drop-shadow(0px 3px 6px rgba(50, 32, 206, 0.502));
    position: absolute;
    overflow: visible;
    width: 570px;
    height: 344px;
    left: 0px;
    top: 0px;
}

#Mask_Group_7 {
    opacity: 0.1;
    mix-blend-mode: multiply;
    position: absolute;
    width: 552px;
    height: 326px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Mask_Group_8 {
    opacity: 0.15;
    mix-blend-mode: multiply;
    position: absolute;
    width: 552px;
    height: 326px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#desc {
    opacity: 0.8;
    left: 32px;
    top: 189px;
    position: absolute;
    overflow: visible;
    width: 463px;
    white-space: nowrap;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(248,248,248,1);
}

#profile {
    position: absolute;
    width: 158px;
    height: 130.701px;
    left: 191.07px;
    top: 31.728px;
    overflow: visible;
}

#name {
    left: 0px;
    top: 99.701px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: rgba(248,248,248,1);
}

#picture {
    position: absolute;
    width: 85.664px;
    height: 85.664px;
    left: 46.489px;
    top: 0px;
    overflow: visible;
}

#testimoni_kanan {
    position: absolute;
    width: 552px;
    height: 326px;
    left: 917px;
    top: 268px;
    overflow: visible;
}

#bg_br {
    position: absolute;
    width: 552px;
    height: 326px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_22_bs {
    filter: blur(15px);
    fill: rgba(168,158,255,1);
}

.Rectangle_22_bs {
    filter: drop-shadow(0px 20px 20px rgba(50, 32, 206, 0.161));
    position: absolute;
    overflow: visible;
    width: 679px;
    height: 462px;
    left: 12px;
    top: 7px;
}

#Rectangle_15_bt {
    fill: rgba(205,231,249,1);
}

.Rectangle_15_bt {
    filter: drop-shadow(0px 3px 6px rgba(50, 32, 206, 0.502));
    position: absolute;
    overflow: visible;
    width: 570px;
    height: 344px;
    left: 0px;
    top: 0px;
}

#Mask_Group_7_bu {
    opacity: 0.1;
    mix-blend-mode: multiply;
    position: absolute;
    width: 552px;
    height: 326px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Mask_Group_8_bv {
    opacity: 0.15;
    mix-blend-mode: multiply;
    position: absolute;
    width: 552px;
    height: 326px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#desc_bw {
    opacity: 0.8;
    left: 32px;
    top: 189px;
    position: absolute;
    overflow: visible;
    width: 463px;
    white-space: nowrap;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(248,248,248,1);
}

#profile_bx {
    position: absolute;
    width: 158px;
    height: 130.701px;
    left: 191.07px;
    top: 31.728px;
    overflow: visible;
}

#name_by {
    left: 0px;
    top: 99.701px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: rgba(248,248,248,1);
}

#picture_bz {
    position: absolute;
    width: 85.664px;
    height: 85.664px;
    left: 46.489px;
    top: 0px;
    overflow: visible;
}

#testimoni_tengah {
    position: absolute;
    width: 696px;
    height: 411px;
    left: 458px;
    top: 213px;
    overflow: visible;
}

#testimoni_tengah_bg {
    position: absolute;
    width: 696px;
    height: 411px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_22_b {
    filter: blur(15px);
    fill: rgba(168,158,255,1);
}

.Rectangle_22_b {
    filter: drop-shadow(0px 20px 20px rgba(50, 32, 206, 0.161));
    position: absolute;
    overflow: visible;
    width: 816px;
    height: 543px;
    left: 15px;
    top: 9px;
}

#Rectangle_15_b {
    fill: rgba(23,181,175,1);
}

.Rectangle_15_b {
    filter: drop-shadow(0px 3px 6px rgba(50, 32, 206, 0.502));
    position: absolute;
    overflow: visible;
    width: 714px;
    height: 429px;
    left: 0px;
    top: 0px;
}

#Mask_Group_7_b {
    opacity: 0.1;
    mix-blend-mode: multiply;
    position: absolute;
    width: 696px;
    height: 411px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Mask_Group_8_b {
    opacity: 0.15;
    mix-blend-mode: multiply;
    position: absolute;
    width: 696px;
    height: 411px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#testimoni_tengah_desc {
    opacity: 0.8;
    left: 40px;
    top: 239px;
    position: absolute;
    overflow: visible;
    width: 617px;
    white-space: nowrap;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(248,248,248,1);
}

#testimoni_tengah_profile {
    position: absolute;
    width: 220px;
    height: 168px;
    left: 243.5px;
    top: 40px;
    overflow: visible;
}

#testimoni_tengah_profile_name {
    left: 0px;
    top: 125px;
    position: absolute;
    overflow: visible;
    width: 221px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(248,248,248,1);
}

#testimoni_tengah_profile_pictu {
    position: absolute;
    width: 108px;
    height: 108px;
    left: 56px;
    top: 0px;
    overflow: visible;
}

#testimoni_desc {
    position: absolute;
    width: 816px;
    height: 114px;
    left: 388px;
    top: 0px;
    overflow: visible;
}

#testimoni_subdesc {
    left: 0px;
    top: 74px;
    position: absolute;
    overflow: visible;
    width: 817px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(154,156,158,1);
}

#testimoni_desc_cc {
    left: 297px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 221px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(23,181,175,1);
}

#newsletter {
    position: absolute;
    width: 434px;
    height: 230px;
    left: 1294px;
    top: 4429.5px;
    overflow: visible;
}

#newsletter_subdesc {
    left: 0px;
    top: 44px;
    position: absolute;
    overflow: visible;
    width: 435px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#newsletter_desc {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 129px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,229,48,1);
}

#email {
    position: absolute;
    width: 398px;
    height: 80px;
    left: 0px;
    top: 150px;
    overflow: visible;
}

#email_box {
    fill: rgba(255,255,255,1);
}

.email_box {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 416px;
    height: 98px;
    left: 0px;
    top: 0px;
}

#submit_button {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 326px;
    top: 8px;
    overflow: visible;
}

#submit_bg {
    fill: rgba(255,103,82,1);
}

.submit_bg {
    filter: drop-shadow(0px 3px 6px rgba(253, 104, 69, 0.302));
    position: absolute;
    overflow: visible;
    width: 82px;
    height: 82px;
    left: 0px;
    top: 0px;
}

#arrow {
    position: absolute;
    width: 29.133px;
    height: 13.143px;
    left: 17.267px;
    top: 25px;
    overflow: visible;
}

#Path_201_cl {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_201_cl {
    overflow: visible;
    position: absolute;
    width: 31.133px;
    height: 2px;
    left: 0.001px;
    top: 6.371px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_202_cm {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_202_cm {
    overflow: visible;
    position: absolute;
    width: 8.986px;
    height: 15.972px;
    left: 22.562px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#email_text {
    opacity: 0.8;
    left: 35px;
    top: 24px;
    position: absolute;
    overflow: visible;
    width: 135px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(128,128,128,1);
}

#about {
    position: absolute;
    width: 781px;
    height: 296px;
    left: 159px;
    top: 4431.5px;
    overflow: visible;
}

#about_hyperlink {
    position: absolute;
    width: 781px;
    height: 240px;
    left: 0px;
    top: 56px;
    overflow: visible;
}

#Syarat__Ketentuan {
    left: 517px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 206px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#Promo {
    left: 517px;
    top: 52px;
    position: absolute;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#Media {
    left: 517px;
    top: 104px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#Blog {
    left: 517px;
    top: 156px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#Franchisee_dan_Vet_Login {
    left: 517px;
    top: 200px;
    position: absolute;
    overflow: visible;
    width: 265px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#Lokasi {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 66px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#Menjadi_Mitra_UKM_Pet_Shop__Gr {
    left: 0px;
    top: 52px;
    position: absolute;
    overflow: visible;
    width: 448px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#Corporate_Partnership {
    left: 0px;
    top: 104px;
    position: absolute;
    overflow: visible;
    width: 234px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#FAQ {
    left: 0px;
    top: 156px;
    position: absolute;
    overflow: visible;
    width: 45px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#Karir {
    left: 0px;
    top: 208px;
    position: absolute;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#about_text {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 156px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,229,48,1);
}

#sosmed {
    position: absolute;
    width: 240px;
    height: 40px;
    left: 1407px;
    top: 4679.5px;
    overflow: visible;
}

#sosmed_facebook {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#facebook_bg {
    fill: rgba(255,255,255,1);
}

.facebook_bg {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}

#facebook_logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#sosmed_instagram {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 200px;
    top: 0px;
    overflow: visible;
}

#instagram_bg {
    fill: rgba(255,255,255,1);
}

.instagram_bg {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}

#instagram_logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#sosmed_twitter {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 100px;
    top: 0px;
    overflow: visible;
}

#twitter_bg {
    fill: rgba(255,255,255,1);
}

.twitter_bg {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 58px;
    height: 58px;
    left: 0px;
    top: 0px;
}

#twitter_logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#artikel {
    position: absolute;
    width: 50%;
    height: auto;
    left: 251px;
    top: 2151px;
}

#artikel_main {
    position: relative;
    width: 629.38px;
    left:50px;
    top: 204px;
    overflow: visible;
}

#artikel_bg {
    fill: rgba(154,156,158,1);
}

.artikel_bg {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
}

#text {
    position: absolute;
    width: 596.449px;
    height: 225.857px;
    left: 32.931px;
    top: 349px;
    overflow: visible;
}

#subdesc {
    left: 0px;
    top: 53.857px;
    position: absolute;
    overflow: visible;
    width: 597.449px;
    height: 172px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(248,248,248,1);
}

#desc_dg {
    left: 0.069px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 183px;
    white-space: nowrap;
    text-align: left;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    color: rgba(255,229,48,1);
}

#read_button {
    position: absolute;
    width: 189px;
    height: 75px;
    left: 33px;
    top: 590px;
    overflow: visible;
}

#bg_di {
    fill: rgba(248,248,248,1);
}

.bg_di {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 207px;
    height: 93px;
    left: 0px;
    top: 0px;
}

#text_dj {
    left: 37px;
    top: 24px;
    position: absolute;
    overflow: visible;
    width: 118px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(254,104,69,1);
}

#picture_main {
    max-width: 520px;
    max-height 370px;
    position: relative;
    overflow: visible;
}

#artikel_4 {
    position: absolute;
    width: 395px;
    height: 353px;
    left: 1016px;
    top: 575px;
    overflow: visible;
}

.bg_dm {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: relative;
    overflow: visible;
}

#read_button_dn {
    position: absolute;
    width: 124.632px;
    height: 38.833px;
    left: 29.102px;
    top: 291.667px;
    overflow: visible;
}

#bg_do {
    fill: rgba(248,248,248,1);
}

.bg_do {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 142.632px;
    height: 56.833px;
    left: 0px;
    top: 0px;
}

#text_dp {
    left: 24.018px;
    top: 9.845px;
    position: absolute;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(254,104,69,1);
}

#text_dq {
    position: absolute;
    width: 362.532px;
    height: 109.706px;
    left: 29.102px;
    top: 181.905px;
    overflow: visible;
}


#Dapatkan_berbagai_rekomendasi_ {
    left: 0px;
    top: 38.096px;
    position: absolute;
    overflow: hidden;
    width: 363.532px;
    height: 71.61039733886719px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(248,248,248,1);
}

#Movie_Night {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 143px;
    white-space: nowrap;
    text-align: left;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,229,48,1);
}

#picture_dt {
    position: absolute;
    width: 395px;
    height: 156px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#artikel_3 {
    position: absolute;
    width: 410.634px;
    height: 353px;
    left: 600px;
    top: 575px;
    overflow: visible;
}

#bg_dv {
    fill: rgba(154,156,158,1);
}

.bg_dv {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 412.999px;
    height: 370.5px;
    left: 0px;
    top: 0.5px;
}

#read_button_dw {
    position: absolute;
    width: 124.632px;
    height: 38.833px;
    left: 29.102px;
    top: 291.667px;
    overflow: visible;
}

#bg_dx {
    fill: rgba(248,248,248,1);
}

.bg_dx {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 142.632px;
    height: 56.833px;
    left: 0px;
    top: 0px;
}

#text_dy {
    left: 24.018px;
    top: 9.845px;
    position: absolute;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(254,104,69,1);
}

#text_dz {
    position: absolute;
    width: 381.532px;
    height: 109.706px;
    left: 29.102px;
    top: 181.905px;
    overflow: visible;
}

#subdesc_d {
    left: 0px;
    top: 38.096px;
    position: absolute;
    overflow: visible;
    width: 382.532px;
    height: 71.61039733886719px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(248,248,248,1);
}

#desc_d {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 115px;
    white-space: nowrap;
    text-align: left;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,229,48,1);
}

#picture_d {
    position: absolute;
    width: 395px;
    height: 156px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#artikel_2 {
    position: absolute;
    width: 395px;
    height: 353px;
    left: 1016px;
    top: 206px;
    overflow: visible;
}

#bg_d {
    fill: rgba(154,156,158,1);
}

.bg_d {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 412.999px;
    height: 370.5px;
    left: 0px;
    top: 0.5px;
}

#read_button_d {
    position: absolute;
    width: 124.632px;
    height: 38.833px;
    left: 29.102px;
    top: 291.667px;
    overflow: visible;
}

#bg_ea {
    fill: rgba(248,248,248,1);
}

.bg_ea {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 142.632px;
    height: 56.833px;
    left: 0px;
    top: 0px;
}

#text_d {
    left: 24.018px;
    top: 9.845px;
    position: absolute;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(254,104,69,1);
}

#text_ea {
    position: absolute;
    width: 356.532px;
    height: 122.706px;
    left: 29.102px;
    top: 181.905px;
    overflow: visible;
}

#subdesc_ea {
    left: 0px;
    top: 38.096px;
    position: absolute;
    overflow: visible;
    width: 357.532px;
    height: 84.61039733886719px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(248,248,248,1);
}

#desc_ea {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 245px;
    white-space: nowrap;
    text-align: left;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,229,48,1);
}

#picture_eb {
    position: absolute;
    width: 395px;
    height: 156px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#artikel_1 {
    position: absolute;
    width: 395px;
    height: 353px;
    left: 600px;
    top: 205px;
    overflow: visible;
}

#bg_ed {
    fill: rgba(154,156,158,1);
}

.bg_ed {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 412.999px;
    height: 370.5px;
    left: 0px;
    top: 0.5px;
}

#read_button_ee {
    position: absolute;
    width: 124.632px;
    height: 38.833px;
    left: 29.102px;
    top: 291.667px;
    overflow: visible;
}

#bg_ef {
    fill: rgba(248,248,248,1);
}

.bg_ef {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 142.632px;
    height: 56.833px;
    left: 0px;
    top: 0px;
}

#text_eg {
    left: 24.018px;
    top: 9.845px;
    position: absolute;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: rgba(254,104,69,1);
}

#text_eh {
    position: absolute;
    width: 360.532px;
    height: 109.706px;
    left: 29.102px;
    top: 181.905px;
    overflow: visible;
}

#subdesc_ei {
    left: 0px;
    top: 38.096px;
    position: absolute;
    overflow: visible;
    width: 361.532px;
    height: 71.61039733886719px;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(248,248,248,1);
}

#desc_ej {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 113px;
    white-space: nowrap;
    text-align: left;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,229,48,1);
}

#picture_ek {
    position: absolute;
    width: 395px;
    height: 156px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#artikel_subdesc {
    left: 286px;
    top: 74px;
    position: absolute;
    overflow: visible;
    width: 847px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(154,156,158,1);
}

#artikel_desc {
    left: 633px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(23,181,175,1);
}

#menu {
    position: absolute;
    width: 992px;
    height: 813px;
    left: 272px;
    top: 1137.5px;
    overflow: visible;
}

#menu_layanan {
    position: absolute;
    width: 536px;
    height: 531px;
    left: 42%;
    top: 282px;
    overflow: visible;
}

#services {
    position: absolute;
    width: 249px;
    height: 249px;
    overflow: visible;
}

#menu_bg {
    x: 0;
    y: 0;
    width: 249px;
    height: 249px;
}

.menu_bg {
    fill: rgba(255,255,255,1);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 267px;
    height: 267px;
    left: 0px;
    top: 0px;

}

#text_er {
    left: 10px;
    top: 171px;
    position: absolute;
    overflow: visible;
    width: 225px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}

#dog {
    opacity: 0.3;
    position: absolute;
    width: 80px;
    height: 80.019px;
    left: 85.001px;
    top: 50px;
    overflow: visible;
}

#Path_205 {
    fill: rgba(0,34,92,1);
}

.Path_205 {
    overflow: visible;
    position: absolute;
    width: 3.323px;
    height: 3.323px;
    left: 42.952px;
    top: 28.06px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_206 {
    fill: rgba(0,34,92,1);
}

.Path_206 {
    overflow: visible;
    position: absolute;
    width: 3.323px;
    height: 3.323px;
    left: 12.275px;
    top: 17.07px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_207 {
    fill: rgba(0,34,92,1);
}

.Path_207 {
    overflow: visible;
    position: absolute;
    width: 80px;
    height: 80.019px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#maps {
    position: absolute;
    width: 249px;
    height: 249px;
    left: 0px;
    top: 282px;
    overflow: visible;
}

#text_ey {
    left: 42px;
    top: 156.5px;
    position: absolute;
    overflow: visible;
    width: 167px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: rgba(112,112,112,1);
}

#pet-house {
    opacity: 0.3;
    mix-blend-mode: normal;
    position: absolute;
    width: 80px;
    height: 79.997px;
    left: 85px;
    top: 52px;
    overflow: visible;
}

#Group_60 {
    position: absolute;
    width: 80px;
    height: 79.997px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Group_59 {
    position: absolute;
    width: 80px;
    height: 79.997px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_221 {
    fill: rgba(0,34,92,1);
}

.Path_221 {
    overflow: visible;
    position: absolute;
    width: 80px;
    height: 79.997px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#Group_62 {
    position: absolute;
    width: 4.687px;
    height: 4.687px;
    left: 37.656px;
    top: 28.124px;
    overflow: visible;
}

#Group_61 {
    position: absolute;
    width: 4.687px;
    height: 4.687px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Ellipse_15 {
    fill: rgba(0,34,92,1);
}

.Ellipse_15 {
    position: absolute;
    overflow: visible;
    width: 4.688px;
    height: 4.687px;
    left: 0px;
    top: 0px;
}

#necessities {
    position: absolute;
    width: 249px;
    height: 249px;
    left: 287px;
    top: 0px;
    overflow: visible;
}

#text_e {
    left: 32px;
    top: 171px;
    position: absolute;
    overflow: visible;
    width: 187px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}

#kucing {
    opacity: 0.3;
    mix-blend-mode: normal;
    position: absolute;
    width: 69.336px;
    height: 80px;
    left: 90.001px;
    top: 50px;
    overflow: visible;
}

#kitten {
    position: absolute;
    width: 69.336px;
    height: 80px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Group_58 {
    position: absolute;
    width: 69.336px;
    height: 80px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Path_208 {
    fill: rgba(0,34,92,1);
}

.Path_208 {
    overflow: visible;
    position: absolute;
    width: 69.335px;
    height: 80px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#Ellipse_12 {
    fill: rgba(0,34,92,1);
}

.Ellipse_12 {
    position: absolute;
    overflow: visible;
    width: 2.667px;
    height: 2.667px;
    left: 12.001px;
    top: 10.665px;
}

#Ellipse_13 {
    fill: rgba(0,34,92,1);
}

.Ellipse_13 {
    position: absolute;
    overflow: visible;
    width: 2.667px;
    height: 2.667px;
    left: 18.667px;
    top: 10.665px;
}

#chat {
    position: absolute;
    width: 249px;
    height: 249px;
    left: 287px;
    top: 282px;
    overflow: visible;
}

#bg_fg {
    fill: rgba(255,255,255,1);
}

.bg_fg {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 267px;
    height: 267px;
    left: 0px;
    top: 0px;
}

#text_fh {
    left: 10.001px;
    top: 171px;
    position: absolute;
    overflow: visible;
    width: 231px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(112,112,112,1);
}

#paw {
    opacity: 0.3;
    mix-blend-mode: normal;
    position: absolute;
    width: 80px;
    height: 69.919px;
    left: 85.002px;
    top: 57px;
    overflow: visible;
}

#Path_215 {
    fill: rgba(0,34,92,1);
}

.Path_215 {
    overflow: visible;
    position: absolute;
    width: 54.05px;
    height: 41.489px;
    left: 10.072px;
    top: 28.43px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_216 {
    fill: rgba(0,34,92,1);
}

.Path_216 {
    overflow: visible;
    position: absolute;
    width: 20.526px;
    height: 22.527px;
    left: 0px;
    top: 15.452px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_217 {
    fill: rgba(0,34,92,1);
}

.Path_217 {
    overflow: visible;
    position: absolute;
    width: 23.501px;
    height: 26.779px;
    left: 19.439px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_218 {
    fill: rgba(0,34,92,1);
}

.Path_218 {
    overflow: visible;
    position: absolute;
    width: 21.906px;
    height: 24.268px;
    left: 44.405px;
    top: 6.29px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_219 {
    fill: rgba(0,34,92,1);
}

.Path_219 {
    overflow: visible;
    position: absolute;
    width: 21.136px;
    height: 21.923px;
    left: 58.864px;
    top: 26.727px;
    transform: matrix(1,0,0,1,0,0);
}

#menu_text3 {
    left: 0px;
    top: 204.5px;
    position: absolute;
    overflow: visible;
    width: 395px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    color: rgba(23,181,175,1);
}

#menu_text2 {
    opacity: 0.8;
    left: 0px;
    top: 86px;
    position: absolute;
    overflow: visible;
    width: 771px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(128,128,128,1);
}

#menu_text1 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 328px;
    white-space: nowrap;
    text-align: center;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: rgba(23,181,175,1);
}

#header {
    position: absolute;
    width: 2790.967px;
    height: 1919.905px;
    left: -1002.967px;
    top: -860.212px;
    overflow: visible;
}

#login {
    position: absolute;
    width: 61px;
    height: 33px;
    left: 2723.967px;
    top: 900.212px;
    overflow: visible;
}

#login_text {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255,255,255,1);
}

#intro {
    position: absolute;
    width: 693px;
    height: 192px;
    left: 1142.967px;
    top: 1226.212px;
    overflow: visible;
}

#intro_desc {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 264px;
    white-space: nowrap;
    text-align: left;
    font-family: Museo Sans Rounded 700;
    font-style: normal;
    font-weight: normal;
    font-size: 84px;
    color: rgba(255,255,255,1);
}

#intro_subdesc {
    left: 0px;
    top: 143px;
    position: absolute;
    overflow: visible;
    width: 694px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: rgba(255,255,255,1);
}

#layanan {
    position: absolute;
    width: 239px;
    height: 75px;
    left: 1142.967px;
    top: 1479.212px;
    overflow: visible;
}

#layanan_bg {
    fill: rgba(255,220,37,1);
}

.layanan_bg {
    filter: drop-shadow(0px 3px 6px rgba(44, 29, 173, 0.161));
    position: absolute;
    overflow: visible;
    width: 257px;
    height: 93px;
    left: 0px;
    top: 0px;
}

#layanan_text {
    left: 45px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 150px;
    white-space: nowrap;
    text-align: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(27,161,153,1);
}

#mitradaftar {
    position: absolute;
    width: 491.39px;
    height: 114.193px;
    left: 2266.967px;
    top: 1805.712px;
    overflow: visible;
}

#mitradaftar_bg {
    fill: rgba(255,255,255,1);
}

.mitradaftar_bg {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 509.39px;
    height: 132.193px;
    left: 0px;
    top: 0px;
}

#mitradaftar_button {
    position: absolute;
    width: 105px;
    height: 98.193px;
    left: 386.39px;
    top: 8px;
    overflow: visible;
}

#Ellipse_10_f {
    fill: rgba(255,220,39,1);
}

.Ellipse_10_f {
    filter: drop-shadow(0px 3px 6px rgba(253, 104, 69, 0.302));
    position: absolute;
    overflow: visible;
    width: 123px;
    height: 116.193px;
    left: 0px;
    top: 0px;
}

#arrow_f {
    position: absolute;
    width: 63.364px;
    height: 13.143px;
    left: 15.77px;
    top: 41.877px;
    overflow: visible;
}

#Path_201_f {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_201_f {
    overflow: visible;
    position: absolute;
    width: 65.363px;
    height: 2px;
    left: 0.001px;
    top: 6.371px;
    transform: matrix(1,0,0,1,0,0);
}

#Path_202_f {
    fill: transparent;
    stroke: rgba(255,255,255,1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_202_f {
    overflow: visible;
    position: absolute;
    width: 8.986px;
    height: 15.972px;
    left: 56.792px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}

#mitradaftar_text {
    cursor: pointer;
    opacity: 0.8;
    position: relative;
    overflow: visible;
    width: 340px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    fill: rgba(128,128,128,1);
    transition:0.5s;
}

#mitradaftar_text:hover{
    opacity: 1.0;
}

#header_logo {
    position: absolute;
    width: 244px;
    height: 228px;
    left: 110px;
    top: 37px;
    overflow: visible;
}

#header_anjing {
    position: absolute;
    width: 594px;
    height: 730px;
    left: 1194px;
    top: 193px;
    overflow: visible;
}

</style >
