<style id="applicationStylesheet" type="text/css">

    .mediaViewInfo {
        --web-view-name: Fetch-care_updated;
        --web-view-id: Fetch-care_updated;
        --web-scale-on-resize: true;
        --web-enable-deep-linking: true;
    }

    :root {
        --web-view-ids: Fetch-care_updated;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
    }

    body{
        background-color: #F9F9F9;
    }

    .top_content {
        position: absolute;
        overflow: visible;
        width: 100%;
        height: 100%;
        background: url(assets/bg_top.png);
        background-size: cover;
        background-position: center;
    }

    #logo {
        position: absolute;
        left: 5.7%;
        width: 12%;
        height: auto;
    }

    #dog_top{
        position: relative;
        float: right;
        top: 18%;
        right: 6.875%;
        width: 31%;
    }

    .title{
        position: absolute;
        width: auto;
        max-width: 40%;
        height: auto;
        top: 35%;
        left: 7%;
    }

    span#title{
        position: relative;
        font-family: Museo Sans Rounded 700;
        font-style: normal;
        font-weight: normal;
        font-size: 84px;
        color: white;
    }

    span#subtitle {
        position: relative;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        color: white;
    }

    .main_bt {
        text-decoration: none;
        position: relative;
        top: 60px;
        left: 0px;
        float: left;
        padding: 10px 45px 10px;
        border-radius: 50px;
        background-color: rgba(255,220,37,1);
        box-shadow: 4px 4px #707070;
        transition-duration: 0.2s;
    }

    .main_bt:hover{
        top: 62px;
        left: 2px;
        cursor: pointer;
        box-shadow: none;
    }

    .main_bt text{
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        color: rgba(27,161,153,1);
    }

    .layanan{
        display: block;
        position: relative;
        top: 1000px;
    }

    #desc{
        text-align: center;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: bold;
        font-size: 43px;
        color: rgba(23,181,175,1);
    }

    #subdesc{
        text-align: center;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: rgba(128,128,128,1);
    }

    .menu_layanan{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 100px;
    }

    #background{
        display: block;
        position: absolute;
        top: -100px;
        width: 170%;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .menu_layanan > a{
        position: relative;
        top: 0px;
        left: 0px;
        width: 250px;
        height: 250px;
        margin: 20px 40px auto;
        padding: 50px 20px 0px;
        text-align: center;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        color: rgba(112,112,112,1);
        background-color: #ffffff;
        border-radius: 30px;
        transition-duration: 0.2s;
        box-shadow: 2px 2px #707070;
    }

    .menu_layanan > a:hover{
        box-shadow: none;
        top: 2px;
        left: 2px;
        cursor: pointer;
    }

    .artikel{
        position:relative;
        top:1200px;
    }

    .menu_artikel {
        display: grid;
        grid-template-columns: repeat(auto-fill, 395px);
        grid-gap: 20px;
        justify-content: center;
        position: relative;
        top: 100px;
        left: 14%;
        width: 71%;
    }

    #artikel_pict{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #artikel{
        position: relative;
        text-align: left;
        width: 395px;
        max-width: 632px;
        height: 350px;
        padding: 0px 0px 0px;
        background-color: #9A9C9E;
        border-radius: 30px;
        overflow: hidden;
    }

    #artikel.first{
        grid-row: 1/3;
        width: auto;
        height: 720px;
    }

    #artikel.first #artikel_pict{
        height: 50%;
        width: auto;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    #artikel > h2{
        padding: 20px 10px 10px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: rgba(255,229,48,1);
    }

    #artikel > span{
        display: block;
        margin: 10px 10px 10px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: #FFFFFF;
    }

    #readmore{
        display: block;
        position: absolute;
        float: right;
        right: 20px;
        bottom: 20px;
        color: white;
        padding: 10px 20px 10px;
        border-radius: 50px;
        background-color: rgba(255,220,37,1);
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        color: rgba(254,104,69,1);
        box-shadow: 2px 2px #707070;
        transition-duration: .2s;
    }

    #readmore:hover{
        cursor: pointer;
        box-shadow: none;
        right: 18px;
        bottom: 18px;
    }
</style>
